/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #loader {
    border: 0.7rem solid white;
    border-radius: 50%;
    border-top: 0.7rem solid rgb(75, 75, 75);
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 40%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #loader {
    border: 0.7rem solid white;
    border-radius: 50%;
    border-top: 0.7rem solid rgb(75, 75, 75);
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 42%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #loader {
    border: 1rem solid white;
    border-radius: 50%;
    border-top: 1rem solid rgb(75, 75, 75);
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 43%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .options {
      -ms-flex-item-align: center;
      align-self: center;
/*       width: auto;*/
       width: 800px; 
      height:80px;
  }
    
    .choice-text {
    padding: 1.5rem;
    width: 100%;
    font-size: 25px;
    text-align: left;
  }
    
    .text-responsive {
  font-size: 30px;
  text-align: left;
}
    
   #progressText {

  font-size: 30px;
  padding-top: 5px;
  margin-top: 10px;
}

#score_id {

  font-size: 30px;
  padding-top: 5px;
  margin-top: 10px;
}

#score {

  font-size: 50px;
  padding-top: 5px;
}
    
    #progressBar {
      padding-left: 0;
      padding-right: 0;
       width: 11.9rem; 
/*      width: 120px;*/
      height: 3rem; 
/*     height: 2.5rem;*/
    border: 0.3rem solid #fff;
     margin-top: 1.5rem; 
    margin-left: 5px;
  }
    
    #progressBarFull {
    height: 2.5rem;
    background-color: #fff;
    width: 0%;
    padding-left: 2px;
    margin-left: -1px;
  }
    
  #loader {
    border: 1rem solid white;
    border-radius: 50%;
    border-top: 1rem solid rgb(75, 75, 75);
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 43%;
  }

}

